.App {
  text-align: center;
  padding-top: 20px;
}

.header {
  color: blue;
}

.text {
  font-size: 20px;
}

table {
  margin: auto;
}

/* .todo {
  display: flex;
} */

/* .form {
  display: flex;
  justify-content: center;
} */